<h3 class="text-center display-4">История на логове</h3>
<hr class="display-4"/>

<div class="container mb-3 mt-3">

    <table id="example" class="display" style="width:100%">
        <thead>
        <tr>
            <th style="display:none;"/>
            <th>Потребителско име</th>
            <th>Операция</th>
            <th>Променена таблица</th>
            <th>Време</th>
        </tr>
        </thead>
        <tbody class="all-logs">
        </tbody>
        <tfoot>
        <tr>
            <th style="display:none;"/>
            <th>Потребителско име</th>
            <th>Операция</th>
            <th>Променена таблица</th>
            <th>Време</th>
        </tr>
        </tfoot>
    </table>

    <div class="mt-5">

        <button type="button" style="float:left;"  id="clear_selected" value="value" class="btn btn-danger float-left">Изтрий избраните</button>

        <button type="button" id="clear_all" value="value" class="btn btn-danger float-right">Изтрий всички</button>
    </div>


</div>

<div class="d-flex justify-content-center mt-5">
    <button id="refresh-logs-button" class="btn btn-outline-info mt-5">Презареди</button>
</div>

<!--<script src="js/logs-all.js"></script>-->