<div class="container mb-3 mt-5">

    <table id="example" class="display" style="width:100%">
        <thead>
        <tr>
            <th>#</th>
            <th>Име</th>
            <th>Презиме</th>
            <th>Потребителско име</th>
            <th>Роля</th>
            <th>Промени роля</th>
        </tr>
        </thead>
        <tbody class="all-users-organization">
        </tbody>
        <tfoot>
        <tr>
            <th>#</th>
            <th>Име</th>
            <th>Презиме</th>
            <th>Потребителско име</th>
            <th>Роля</th>
            <th>Промени роля</th>
        </tr>
        </tfoot>
    </table>

    <div class="d-flex justify-content-center mt-2">
        <button id="refresh-users-button" class="btn btn-outline-info">Презареди</button>
    </div>

</div>

<script src="js/users-all.js"></script>